body{
background-image: linear-gradient(120deg,#3498db,#8e44ad);
min-height: 100vh;
width: 98vw;
}

form{
    padding: 50px;
    background: white;
    border-radius: 5px;
}

form .btn{
    text-align: center;
}