.mensajes{
    background:rgba(223, 238, 245, 0.637);
    height: 94vh;

}
.conversacion{
    margin: 20px 0px;
}

.agregar{
    background:green;
    padding: 10px 15px;
    border-radius: 100%;
    text-decoration: none;
    color: white;
}

.agregar:hover{
    text-decoration: none;
    color:white;
}

.persona{
    max-height: 100vh;
}
.persona .imagen{
    width: 40px;
}

.amigos{
    padding:10px;
}

.usuarios{
    padding: 10px;
}

.usuarios:hover{
    background: #c3f5c1;
    cursor: pointer;
}

/******** LISTA USUARIOS *****/
.h1{
    font-size: 35px;
    display: inline-block;
}
.btn_new{
    display: inline-block;
    background:#06AD65;
    color:#FFF;
    padding: 5px 25px;
    border-radius: 4px;
    margin: 20px;
}

table{
    border-collapse: collapse;
    font-size: 12pt;
    width: 100%;
}

table th{
    text-align: left;
    padding: 10px;
    background: #06AD65;
    color: #FFF;
}

table tr:nth-child(odd){
    background: #e4f2f0;
}

table td{
    padding: 10px; 
}

.link_agg{
    color: #0ca4ce;
}

.link_delete{
    color: #f26b6b;
}